.title{
    text-align:center;
}
.Stitle{
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
table{
    width:800px;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    table-layout:fixed;
}
td{
    border:1px solid black;
    padding:4px;
}
td:first-child{
    border-left:none;
}
td:last-child{
    border-right:none;
}
.picture{
    background-image: url(people.png.jpg);
    background-size : 100% 100%;
    width: 150px;
}
.cell1_1{
    width:100px;
    background-color: rgb(226,226,226);
    text-align: justify;
    line-height:0;
}
.cell1_1:after{
    content:"";
    display:inline-block;
    width:100%
}
.cell1_1:before{
    content:"";
    display:inline-block;
    width:100%
}
.cell1_2{
    text-align:center;
}
.cell2_1{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 130px;
}
.cell2_2{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 430px;
}
.cell2_3{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 180px;
}
.cell2_4{
    text-align:center;
    width: 130px;
}
.cell3_1{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 200px;
}
.cell3_2{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 450px;
}
.cell3_3{
    text-align:center;
    background-color: rgb(226,226,226);
    width: 100px;
}
.cell3_4{
    text-align:center;
    width: 130px;
}
.cell4_1{
    text-align:center;
    width : 600px;
    background-color: rgb(226,226,226);
}
.cell4_2{
    text-align:center;
    width : 200px;
    background-color: rgb(226,226,226);
}