.title{
    text-align:center;
}
table{
    width:100%;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    border-collapse:collapse;
}
td{
    border:1px solid black;
    padding:10px;
}
td:first-child{
    border-left:none;
}
td:last-child{
    border-right:none;
}
.cell1{
    width:100px;
    background-color: rgb(226,226,226);
    text-align: center;
    padding:10px;
}